Repository lbryio/lbry-sdk, pull requests merged in 2019-12, with the labels that each got.

#2647 Request all pages of peers for a blob
  lbry/lbry/dht/protocol/iterative_find.py
Labels: area: DHT, type: improvement

#2648 Fix UDP ping port in blob peer accumulator
  lbry/lbry/dht/node.py
Labels: area: DHT, type: fixup

#2649 Fix handling reserved ips
  lbry/lbry/dht/peer.py
  lbry/lbry/dht/protocol/iterative_find.py
  lbry/lbry/extras/daemon/Components.py
  lbry/lbry/stream/downloader.py
  lbry/tests/integration/test_dht.py
  lbry/tests/unit/blob_exchange/test_transfer_blob.py
  lbry/tests/unit/dht/protocol/test_kbucket.py
  lbry/tests/unit/dht/test_blob_announcer.py
  lbry/tests/unit/dht/test_peer.py
  lbry/tests/unit/stream/test_managed_stream.py
Labels: area: DHT, type: fixup

#2650 Fix blob request loop
  lbry/lbry/blob/blob_file.py
  lbry/lbry/blob_exchange/downloader.py
  lbry/lbry/blob_exchange/server.py
  lbry/lbry/stream/managed_stream.py
  lbry/tests/integration/test_file_commands.py
Labels: area: blob exchange, type: fixup

#2601 Persist and restore routing table
  lbry/lbry/dht/node.py
  lbry/lbry/extras/daemon/Components.py
  lbry/lbry/extras/daemon/migrator/dbmigrator.py
  lbry/lbry/extras/daemon/migrator/migrate13to14.py
  lbry/lbry/extras/daemon/storage.py
  lbry/tests/dht_mocks.py
  lbry/tests/integration/test_dht.py
  lbry/tests/unit/database/test_SQLiteStorage.py
  lbry/tests/unit/dht/test_node.py
Labels: area: DHT, type: new feature

#2662 add apsw to pylint conf
  lbry/.pylintrc
Labels: area: other, type: fixup

#2415 adds command call logging for all create/update/abandon commands
  lbry/lbry/extras/daemon/Daemon.py
Labels: area: wallet, type: improvement

#2674 fixes for various edge cases where claim (and support) creation, updating and abandoning is occuring in the same block
  lbry/lbry/wallet/server/db/writer.py
  lbry/tests/unit/wallet/server/test_sqldb.py
Labels: area: wallet server, type: bug

#2685 Update balance after a broadcast transaction is accepted to mempool without a delay, fix bug in `status` header progress
  lbry/lbry/extras/daemon/Components.py
  lbry/lbry/testcase.py
  lbry/lbry/wallet/manager.py
  lbry/tests/integration/test_purchase_command.py
  torba/torba/client/baseledger.py
  torba/torba/client/basenetwork.py
  torba/torba/server/mempool.py
  torba/torba/server/session.py
Labels: area: wallet, type: improvement

#2687 lint: remove __height
  lbry/lbry/testcase.py
  lbry/tests/integration/test_resolve_command.py
  torba/torba/orchstr8/node.py
Labels: area: wallet, type: fixup

#2689 change returned error data structure to be JSONRPC standard compliant
  lbry/lbry/extras/daemon/Daemon.py
Labels: area: jsonrpc, type: refactor

#2690 enable WAL on wallet server
  lbry/lbry/wallet/server/db/writer.py
Labels: area: wallet server, type: improvement

#2695 Fix 12 to 13 migrator
  lbry/lbry/dht/protocol/protocol.py
  lbry/lbry/extras/daemon/migrator/migrate12to13.py
  torba/torba/server/session.py
Labels: area: database, type: fixup

#2699 don't log account details on startup if there are more than 10
  lbry/lbry/wallet/ledger.py
Labels: area: wallet, type: improvement

#2698 support `JSON` in `settings_set`
  lbry/lbry/extras/daemon/Daemon.py
Labels: area: cli, type: improvement
