Repository lbryio/lbry-sdk, pull requests merged in 2019-03, with the labels that each got.

#1968 restore old download analytics
  lbrynet/extras/daemon/Components.py
  lbrynet/extras/daemon/Daemon.py
  lbrynet/extras/daemon/analytics.py
  lbrynet/stream/managed_stream.py
  lbrynet/stream/stream_manager.py
  tests/unit/stream/test_stream_manager.py
Labels: area: asyncio rewrite, type: fixup

#1987 improve dht unit tests
  lbrynet/dht/protocol/async_generator_junction.py
  lbrynet/dht/protocol/distance.py
  lbrynet/dht/serialization/datagram.py
  tests/unit/dht/protocol/test_async_gen_junction.py
  tests/unit/dht/protocol/test_data_store.py
  tests/unit/dht/protocol/test_distance.py
  tests/unit/dht/protocol/test_kbucket.py
  tests/unit/dht/protocol/test_routing_table.py
  tests/unit/dht/routing/__init__.py
  tests/unit/dht/serialization/test_bencoding.py
  tests/unit/dht/serialization/test_datagram.py
  tests/unit/dht/test_blob_announcer.py
Labels: area: DHT, type: improvement

#1996 update wallet server public/private hash config
  lbrynet/wallet/server/coin.py
Labels: area: wallet server, type: bug

#2006 split claim_abandon into stream_abandon and channel_abandon
  lbrynet/extras/daemon/Daemon.py
  tests/integration/test_chris45.py
  tests/integration/test_claim_commands.py
  tests/integration/testcase.py
Labels: area: api, type: refactor
