Repository lbryio/lbry-sdk, pull requests merged in 2020-12, with the labels that each got.

#3098 store txids in memory, faster address subscription/history
  lbry/wallet/server/block_processor.py
  lbry/wallet/server/history.py
  lbry/wallet/server/leveldb.py
Labels: area: wallet server, type: improvement

#3099 Increase default `tx_cache_size`
  lbry/wallet/database.py
  lbry/wallet/ledger.py
Labels: area: config, type: improvement

#3102 Improve performance of mempool processing loop
  lbry/testcase.py
  lbry/wallet/database.py
  lbry/wallet/ledger.py
  lbry/wallet/server/mempool.py
  lbry/wallet/server/session.py
  tests/integration/blockchain/test_transactions.py
  tests/integration/blockchain/test_wallet_commands.py
  tests/unit/blob_exchange/test_transfer_blob.py
  tests/unit/stream/test_stream_manager.py
Labels: area: wallet server, type: improvement

#3103 fix mempool notification bloat
  lbry/wallet/server/session.py
Labels: area: wallet server, type: fixup

#3106 fix index and constraints being a list, not a string
  lbry/db/queries/base.py
Labels: area: database, type: bug

#3113 Improve performance of fetching transactions and sending address notifications
  lbry/wallet/server/block_processor.py
  lbry/wallet/server/leveldb.py
  lbry/wallet/server/mempool.py
  lbry/wallet/server/server.py
  lbry/wallet/server/session.py
Labels: area: wallet server, type: improvement

#3120 Fix off by one in wallet server reorg
  lbry/wallet/server/block_processor.py
Labels: area: wallet server, type: bug

#3125 fix wallet db integrity / sync bugs
  .gitlab-ci.yml
  lbry/wallet/checkpoints.py
  lbry/wallet/database.py
  lbry/wallet/ledger.py
  lbry/wallet/network.py
  tests/unit/wallet/test_ledger.py
Labels: area: wallet, type: bug

#3128 Improve memory usage during wallet sync
  lbry/wallet/ledger.py
Labels: area: wallet, type: improvement

#3130 skip null args in `channel_ids` given to `claim_search`
  lbry/wallet/server/daemon.py
  lbry/wallet/server/db/reader.py
Labels: area: wallet server, type: fixup
