Repository lbryio/lbry-sdk, pull requests merged in 2020-11, with the labels that each got.

#3078 support `none` argument to `any_languages` filter in `claim_search`
  lbry/wallet/server/db/common.py
  lbry/wallet/server/db/writer.py
  tests/integration/blockchain/test_claim_commands.py
Labels: area: wallet server, type: improvement

#3082 store transactions for wallet server in leveldb instead of requesting from lbrycrd
  lbry/wallet/ledger.py
  lbry/wallet/server/block_processor.py
  lbry/wallet/server/leveldb.py
  lbry/wallet/server/merkle.py
  lbry/wallet/server/session.py
  lbry/wallet/server/storage.py
Labels: area: wallet server, type: improvement

#3088 fix flooding with resolve/claim search
  lbry/wallet/ledger.py
  lbry/wallet/network.py
  lbry/wallet/server/session.py
Labels: area: wallet, type: fixup

#3089 Ensure no client .wal files remain on shutdown
  lbry/wallet/database.py
Labels: area: database, type: improvement

#3090 store headers in memory on wallet server
  lbry/wallet/server/leveldb.py
Labels: area: wallet server, type: improvement

#3092 faster `blockchain.transaction.get_batch`
  lbry/wallet/server/leveldb.py
  lbry/wallet/server/peers.py
  lbry/wallet/server/session.py
Labels: area: wallet server, type: improvement

#3093 fix off-by-one when getting block txs for tx_merkle
  lbry/wallet/server/leveldb.py
Labels: area: wallet server, type: fixup

#3095 ensure transactions are returned in the order they're requested
  lbry/wallet/server/leveldb.py
Labels: area: wallet server, type: fixup
