Repository lbryio/lbry-sdk, pull requests merged in 2020-01, with the labels that each got.

#2704 disable cryptonator feed
  lbry/extras/daemon/exchange_rate_manager.py
  tests/integration/other/test_exchange_rate_manager.py
Labels: area: other, type: fixup

#2710 Fix `version` and `stop` rpcs
  lbry/extras/daemon/daemon.py
Labels: area: api, type: fixup

#2706 added `comment_update` command and simplified `comment_create` usage when replying to existing comment
  docs/api.json
  lbry/extras/daemon/daemon.py
  scripts/generate_json_api.py
  tests/integration/other/test_comment_commands.py
Labels: area: commenting, type: new feature

#2716 speed up wallet sync and startup by batching address history subscriptions
  lbry/dht/blob_announcer.py
  lbry/extras/daemon/components.py
  lbry/stream/stream_manager.py
  lbry/wallet/database.py
  lbry/wallet/ledger.py
  lbry/wallet/network.py
  lbry/wallet/server/session.py
  tests/unit/stream/test_stream_manager.py
Labels: area: wallet, type: improvement

#2718 add `connected` server to wallet status
  lbry/extras/daemon/components.py
  lbry/extras/daemon/daemon.py
Labels: area: wallet, type: new feature

#2719 refactor header progress calculation, making it simpler to understand and not prone to division by zero
  lbry/extras/daemon/components.py
Labels: area: wallet, type: bug

#2720 fix database error caused by logging tracebacks from within the sqlite transaction runner
  lbry/extras/daemon/loggly_handler.py
  lbry/wallet/database.py
Labels: area: database, type: fixup

#2725 faster stream manager startup
  lbry/extras/daemon/storage.py
  lbry/stream/stream_manager.py
Labels: area: database, type: improvement

#2728 check minimum server version from wallet client
  lbry/error/README.md
  lbry/error/__init__.py
  lbry/wallet/network.py
  tests/integration/blockchain/test_network.py
Labels: area: wallet, type: bug

#2729 disconnect from server that returns rpc error for server.version
  lbry/wallet/network.py
Labels: area: wallet, type: bug

#2730 update aioupnp requirement to 0.0.17
  lbry/extras/daemon/components.py
  setup.py
Labels: area: packaging, type: improvement

#2735 added support to server side claim blocking to differentiate between claims blocked from resolve and search (`BLOCKING_CHANNELS_IDS`) and claims that are blocked from search only but can still be resolved (`FILTERING_CHANNELS_IDS`)
  lbry/schema/result.py
  lbry/schema/types/v2/result_pb2.py
  lbry/wallet/server/db/reader.py
  lbry/wallet/server/db/writer.py
  lbry/wallet/server/session.py
  tests/integration/blockchain/test_claim_commands.py
  tests/unit/wallet/server/test_sqldb.py
Labels: area: wallet server, type: improvement

#2734 Add prometheus metrics collection to client and server (take two)
  lbry/conf.py
  lbry/extras/daemon/daemon.py
  lbry/wallet/server/block_processor.py
  lbry/wallet/server/env.py
  lbry/wallet/server/prometheus.py
  lbry/wallet/server/server.py
  lbry/wallet/server/session.py
  setup.py
Labels: area: devops, type: new feature

#2736 rename `BLOCKING_CHANNELS_IDS`/`FILTERING_CHANNELS_IDS` wallet server environment variables to remove double S
  lbry/wallet/server/db/writer.py
Labels: area: wallet server, type: improvement

#2737 fix bug where repost claims were not being fully resolved
  lbry/wallet/server/db/writer.py
Labels: area: wallet server, type: bug

#2748 faster wallet.id attribute, improves speed of selecting wallets during api calls
  lbry/wallet/wallet.py
Labels: area: wallet, type: improvement

#2750 configurable trending algorithms
  lbry/wallet/server/db/trending/__init__.py
  lbry/wallet/server/db/trending/zscore.py
  lbry/wallet/server/db/writer.py
  tests/unit/wallet/server/test_sqldb.py
Labels: area: wallet server, type: refactor

#2749 add metrics to wallet server prometheus
  lbry/wallet/rpc/session.py
  lbry/wallet/server/daemon.py
  lbry/wallet/server/prometheus.py
  lbry/wallet/server/session.py
Labels: area: wallet server, type: improvement

#2747 new trending algorithm contributed by Brendon Brewer, to enable on wallet server set `TRENDING_ALGORITHMS` environment variable on wallet server to `ar`
  lbry/wallet/server/db/trending/__init__.py
  lbry/wallet/server/db/trending/ar.py
Labels: area: wallet server, type: new feature

#2754 add duration to claim search params
  .gitignore
  lbry/extras/daemon/daemon.py
  lbry/wallet/server/db/reader.py
  lbry/wallet/server/db/writer.py
  tests/integration/blockchain/test_claim_commands.py
Labels: area: claims, type: new feature

#2755 fixed initialization problem with ar trending algorithm
  lbry/wallet/server/db/trending/ar.py
Labels: area: wallet server, type: bug
