Repository lbryio/lbry-sdk, pull requests merged in 2020-07, with the labels that each got.

#2989 add `--blocking` to `account_send` and `wallet_send`
  lbry/extras/daemon/daemon.py
  lbry/wallet/ledger.py
Labels: area: wallet, type: improvement

#2981 Move wallet server tx hashes and headers to leveldb to speed up the rate mempool notifications are sent
  lbry/wallet/database.py
  lbry/wallet/ledger.py
  lbry/wallet/server/block_processor.py
  lbry/wallet/server/leveldb.py
  lbry/wallet/server/mempool.py
  lbry/wallet/server/session.py
  lbry/wallet/server/util.py
  tests/integration/other/test_chris45.py
Labels: area: wallet server, type: improvement

#2992 log task errors and add debug information for reflector task
  lbry/stream/stream_manager.py
Labels: area: reflector, type: improvement

#2996 updates HLS .m3u8 media type and adds new DASH .mpd media type
  .github/workflows/main.yml
  lbry/schema/mime_types.py
Labels: area: blobs/files, type: improvement

#2986 check sample rate and lower if too high
  .gitignore
  lbry/conf.py
  lbry/file_analysis.py
Labels: area: blobs/files, type: improvement

#2995 Batched sync for wallet transactions
  lbry/wallet/ledger.py
  lbry/wallet/network.py
  lbry/wallet/server/mempool.py
  lbry/wallet/server/session.py
  setup.cfg
  tests/unit/wallet/test_ledger.py
Labels: area: wallet, type: improvement

#2997 Fix uncaught reflector connection errors
  lbry/conf.py
  lbry/stream/managed_stream.py
  lbry/stream/reflector/client.py
  lbry/stream/reflector/server.py
  setup.py
  tests/unit/stream/test_reflector.py
Labels: area: reflector, type: bug

#3002 fixed sync'ing issues related to `modified_on` timestamps having varying floating value between OSes
  lbry/extras/daemon/daemon.py
  lbry/wallet/account.py
Labels: area: wallet, type: bug

#3003 fix `modified_on` to always cast value to integer, also cast preferences timestamp to int
  lbry/wallet/account.py
  lbry/wallet/wallet.py
  tests/unit/wallet/test_account.py
  tests/unit/wallet/test_wallet.py
Labels: area: wallet, type: bug
