Repository lbryio/lbry-sdk, pull requests merged in 2021-07, with the labels that each got.

#3342 [resync required] Avoid flush counter overflows on long running hubs by increasing it to 32 bits
  lbry/wallet/rpc/session.py
  lbry/wallet/server/history.py
  tests/integration/blockchain/test_wallet_server_sessions.py
  tests/unit/wallet/server/test_migration.py
Labels: area: hub, type: bug

#3366 add libtool and automake to the dockerfiles so they can build coincurve
  docker/Dockerfile.wallet_server
  docker/Dockerfile.web
Labels: area: packaging, type: bug

#3361 improved error handling when fetching exchange rate from UPbit
  lbry/extras/daemon/exchange_rate_manager.py
Labels: area: network, type: improvement

#3363 add script with web endpoints that can troubleshoot p2p/dht
  scripts/troubleshoot_p2p_and_dht_webservice.py
Labels: area: DHT, type: task

#3355 make get_or_create_usable_address respect the generator lock, avoiding race conditions when getting an unused address while generating them
  lbry/wallet/account.py
  tests/unit/wallet/test_account.py
Labels: area: wallet, type: bug

#3356 Propagate external ip change from upnp component to dht protocol
  lbry/extras/daemon/components.py
  tests/unit/dht/test_node.py
Labels: area: DHT, type: bug

#3369 fix stuck transaction notification due to race in mempool when advancing a block
  lbry/wallet/ledger.py
  tests/unit/wallet/test_database.py
Labels: area: wallet, type: bug

#3367 fix error when using `--claim_id` with `lbrynet claim search`
  lbry/extras/daemon/daemon.py
Labels: area: api, type: bug
