Repository lbryio/lbry-sdk, pull requests merged in 2021-06, with the labels that each got.

#3336 update exchange rate threshold in integration tests due to significant drop in LBC price
  tests/integration/other/test_exchange_rate_manager.py
Labels: area: tests, type: refactor

#3232 Add `concurrent_hub_requests` and `hub_timeout` config options
  lbry/conf.py
  lbry/wallet/__init__.pyc
  lbry/wallet/manager.py
  lbry/wallet/network.py
  lbry/wallet/orchstr8/node.py
  tests/integration/blockchain/test_network.py
Labels: area: wallet, type: improvement

#3343 add small example script showing how to read and update values to ES as we currently use it
  scripts/example_update_es.py
Labels: area: docs, type: task

#3345 add dockerfile for personal web sdk deployments
  docker/Dockerfile.web
  docker/webconf.yaml
Labels: area: packaging, type: new feature
