Repository lbryio/lbry-sdk, pull requests merged in 2021-09, with the labels that each got.

#3414 removed `comment` API endoints
  docs/api.json
  lbry/conf.py
  lbry/extras/daemon/comment_client.py
  lbry/extras/daemon/daemon.py
  lbry/wallet/transaction.py
  scripts/generate_json_api.py
  tests/integration/blockchain/test_claim_commands.py
  tests/integration/other/test_comment_commands.py
  tests/unit/comments/__init__.py
  tests/unit/comments/test_comment_signing.py
  tests/unit/wallet/test_schema_signing.py
Labels: type: refactor, area: api

#3421 avoid [''] on peers list
  lbry/wallet/server/env.py
Labels: type: improvement, area: hub

#3417 use database to track blob disk space use and preserve own blobs
  .github/workflows/main.yml
  lbry/blob/blob_file.py
  lbry/blob/blob_info.py
  lbry/blob/blob_manager.py
  lbry/blob/disk_space_manager.py
  lbry/extras/daemon/components.py
  lbry/extras/daemon/daemon.py
  lbry/extras/daemon/migrator/dbmigrator.py
  lbry/extras/daemon/migrator/migrate14to15.py
  lbry/extras/daemon/storage.py
  lbry/stream/descriptor.py
  lbry/stream/stream_manager.py
  lbry/testcase.py
  tests/integration/datanetwork/test_file_commands.py
  tests/integration/other/test_cli.py
  tests/unit/blob/test_disk_space_manager.py
  tests/unit/components/test_component_manager.py
  tests/unit/database/test_SQLiteStorage.py
  tests/unit/lbrynet_daemon/test_allowed_origin.py
Labels: type: improvement, area: blobs/files

#3434 fix typo in `file list` arguments list
  docs/api.json
  lbry/extras/daemon/daemon.py
Labels: type: bug, area: docs
