Repository lbryio/lbry-sdk, pull requests merged in 2021-12, with the labels that each got.

#3505 clarify DHT debug logging on key and operation
  lbry/dht/protocol/iterative_find.py
Labels: type: task, area: DHT

#3529 changes default coin selection strategy from standard to prefer_confirmed
  lbry/conf.py
Labels: type: improvement, area: config

#3450 deterministic channel keys (requires wallet server re-sync)
  lbry/extras/daemon/daemon.py
  lbry/extras/daemon/json_response_encoder.py
  lbry/schema/claim.py
  lbry/testcase.py
  lbry/wallet/__init__.py
  lbry/wallet/account.py
  lbry/wallet/bip32.py
  lbry/wallet/database.py
  lbry/wallet/ledger.py
  lbry/wallet/server/block_processor.py
  lbry/wallet/transaction.py
  setup.cfg
  tests/integration/blockchain/test_account_commands.py
  tests/integration/blockchain/test_wallet_commands.py
  tests/integration/claims/test_claim_commands.py
  tests/integration/takeovers/test_resolve_command.py
  tests/integration/transactions/test_internal_transaction_api.py
  tests/unit/schema/test_claim_from_bytes.py
  tests/unit/wallet/test_account.py
  tests/unit/wallet/test_bip32.py
  tests/unit/wallet/test_schema_signing.py
Labels: type: improvement, area: claims
