Repository lbryio/lbry-sdk, pull requests merged in 2021-04, with the labels that each got.

#3247 adding `Access-Control-*` headers in SDK HTTP responses and support for OPTIONS HTTP request
  lbry/extras/daemon/daemon.py
  tests/unit/lbrynet_daemon/test_allowed_origin.py
Labels: area: api, type: improvement

#3254 show hub hostnames in wallet `status` instead of ips
  lbry/wallet/network.py
Labels: area: network, type: improvement

#3259 fix limit_claims_per_channel and improve how it collects results across pages
  lbry/wallet/server/db/elasticsearch/search.py
  tests/integration/blockchain/test_claim_commands.py
Labels: area: discovery, type: bug

#3264 fix bug in how reserved balance is calculated
  lbry/wallet/database.py
  tests/integration/blockchain/test_purchase_command.py
Labels: area: wallet, type: improvement

#3278 pending claims ordered towards top in `claim_list`
  lbry/wallet/database.py
  tests/integration/blockchain/test_claim_commands.py
Labels: area: api, type: improvement

#3280 migration specifically for upgrading from client db v1.5 to v1.6
  lbry/wallet/database.py
Labels: area: wallet, type: new feature

#3283 fix multiprocessing support on client db
  lbry/wallet/database.py
Labels: area: wallet, type: bug

#3285 Restrict udp sources, add `ALLOW_LAN_UDP` hub setting
  lbry/dht/peer.py
  lbry/utils.py
  lbry/wallet/server/cli.py
  lbry/wallet/server/env.py
  lbry/wallet/server/server.py
  lbry/wallet/server/udp.py
  tests/unit/dht/test_peer.py
Labels: area: hub, type: improvement
