Repository lbryio/lbry-sdk, pull requests merged in 2021-03, with the labels that each got.

#3213 fixes transaction signing bug when tx had no change outputs
  lbry/extras/daemon/daemon.py
  lbry/wallet/transaction.py
  tests/integration/blockchain/test_claim_commands.py
Labels: area: wallet, type: bug

#3217 fixes stalling client reconnect issue
  lbry/wallet/network.py
Labels: area: wallet, type: improvement

#3221 Improve performance of address subscriptions and transaction proofs
  lbry/wallet/server/session.py
Labels: area: hub, type: improvement

#3223 only return unspent txos if `is_spent` flag is not used
  lbry/extras/daemon/daemon.py
Labels: area: api, type: bug

#3153 hub: use Elasticsearch for `claim_search` and `resolve` calls
  .github/workflows/main.yml
  docker/Dockerfile.wallet_server
  docker/docker-compose-wallet-server.yml
  docker/wallet_server_entrypoint.sh
  lbry/schema/result.py
  lbry/schema/url.py
  lbry/wallet/network.py
  lbry/wallet/orchstr8/node.py
  lbry/wallet/rpc/util.py
  lbry/wallet/server/block_processor.py
  lbry/wallet/server/cli.py
  lbry/wallet/server/db/elasticsearch/__init__.py
  lbry/wallet/server/db/elasticsearch/constants.py
  lbry/wallet/server/db/elasticsearch/search.py
  lbry/wallet/server/db/elasticsearch/sync.py
  lbry/wallet/server/db/full_text_search.py
  lbry/wallet/server/db/writer.py
  lbry/wallet/server/env.py
  lbry/wallet/server/leveldb.py
  lbry/wallet/server/mempool.py
  lbry/wallet/server/server.py
  lbry/wallet/server/session.py
  scripts/claim_search_performance.py
  scripts/sqlite_perf_test.py
  setup.py
  tests/integration/blockchain/test_blockchain_reorganization.py
  tests/integration/blockchain/test_claim_commands.py
  tests/integration/blockchain/test_network.py
  tests/unit/wallet/server/reader.py
  tests/unit/wallet/server/test_sqldb.py
Labels: area: discovery, area: hub, type: new feature

#3246 temporary fix for mempool sync failing during reorg
  lbry/wallet/server/leveldb.py
Labels: area: hub, type: bug
