Repository lbryio/lbry-sdk, pull requests merged in 2022-01, with the labels that each got.

#3538 Unify and fix DHT memory caches for peer manager
  lbry/dht/peer.py
Labels: type: improvement, area: DHT

#3535 convert hexdata argument to a string before signing in `channel_sign` command
  lbry/extras/daemon/daemon.py
  tests/integration/claims/test_claim_commands.py
Labels: type: improvement, area: api

#3534 drop dependency on cryptography library in wallet module
  lbry/wallet/bip32.py
  lbry/wallet/transaction.py
Labels: type: improvement, area: wallet

#3549 wallet locking/unlocking no longer breaks deterministic channel keys
  lbry/wallet/account.py
  tests/integration/blockchain/test_wallet_commands.py
Labels: type: bug, area: wallet
