Repository lbryio/lbry-sdk, pull requests merged in 2022-02, with the labels that each got.

#3552 Increase DHT peer manager cache size to 16384
  lbry/dht/peer.py
Labels: type: improvement, area: DHT

#3556 prevent creation of change which is below the dust threshold of 1000 dewies
  lbry/wallet/constants.py
  lbry/wallet/transaction.py
  tests/integration/transactions/test_transaction_commands.py
Labels: type: improvement, area: wallet

#3564 fix handling re-adding lost peers during download
  lbry/blob_exchange/downloader.py
Labels: type: bug, area: blob exchange

#3571 Seed mode: check that the candidate blob is at least 1 prefix byte close to peer id
  lbry/dht/protocol/routing_table.py
  lbry/extras/daemon/components.py
  lbry/utils.py
  tests/unit/test_utils.py
Labels: type: improvement, area: blobs/files
